---
const { footerclass } = Astro.props;
---

<footer class={footerclass}>
    <p class="p-4 bg-black border-l-0 border-r-0 border-b-0 border border-neutral-500 w-full text-center text-white whitespace-nowrap">Copyright © 2023 BackOnChain.</p>
</footer>